* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
    background-color: rgb(17, 188, 17);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
  
  .heart{
    font-size: 30px;
    color: white;
    padding: 10px 40px;
  }
  .logo img {
    width: 100px;
   height: 80px;
  }
  
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon i {
    font-size: 28px;
    color: #333;
  }
  
  
  .category-dropdown {
    position: relative;
  }
  
  .category-dropdown select {
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .category-dropdown select:hover {
    border-color: #3498db;
    transform: scale(1.02);
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
  }
  
  .search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 400px;
  }
  .hearts{
    font-size: 40px;
    color: blue;
    padding: 20px;
  }
  
  
  .addtocart {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  #addtocarts{
    position: relative;
    font-size: 30px;
    color: white;
  }
  
  .addtocartvalue {
    margin-left: 5px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orangered;
    border-radius: 50%;
    font-size: 13px;
   padding: 2px 2px;
    left: 18px;
    bottom:33px;
    font-weight: 800;
    
  }
  
  .wishlists h4 {
    margin: 0;
    cursor: pointer;
  }
  #Search{
    position: absolute;
   right: 10px;
   bottom: 10px;
  }

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}




.products-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(219, 218, 215);
}

.products-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {
    background-color: #fff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin: 15px 0;
}

.product-card p {
    color: #666;
    margin-bottom: 20px;
    font-size: 1rem;
}

.product-card a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-card a:hover {
    background-color: #0056b3;
}
.banner-container{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.banner-row {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin-top: 100px;
  
}

.banner-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
   
}

.banner-slide img {
    width: 100%;
    /* height: 580px; */
    display: block;
    overflow: hidden;
  
    
}

.ban-left, .ban-right {
    position: absolute;
    top: 55%;
    transform: translateY(-40%);
    cursor: pointer;
}

.ban-left {
    left: 10px;
    font-size: 60px;
    color: palevioletred;
    z-index: 22;
   
   
}

.sidenav {
    display: none;
}
.ban-right {
    right: 10px;
    font-size: 60px;
    color: palevioletred;
    z-index: 22;
    
  
}
.banner-slide{
    display: none;
    overflow: hidden;

}
.banner-slide:hover .ban-left{
    visibility: visible;
}
.banner-slide.active{
    display: block;
}
.hidden{
    display: none;
}


.banner-dots{
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0; 
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 10px; 
}
.dots{
    width: 30px;
    height: 5px;
    background-color: green;
    display: flex;
    cursor: pointer; 
}
.dots-active{
    background-color: orangered;

}

.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .footer-column {
    width: 30%;
    min-width: 250px;
    padding: 10px;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .footer p,
  .footer ul {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer ul li a:hover {
    color: #3498db;
  }
  
   .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
 
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
  }
  
  
  .footer::before {
    content: '';
    position: absolute;
    top: -100px;
    left: -150px;
    width: 300px;
    height: 300px;
    background-color: rgba(52, 152, 219, 0.3);
    border-radius: 50%;
    animation: footer-animation 8s linear infinite;
  }
  
  .footer::after {
    content: '';
    position: absolute;
    bottom: -150px;
    right: -150px;
    width: 300px;
    height: 300px;
    background-color: rgba(231, 76, 60, 0.3);
    border-radius: 50%;
    animation: footer-animation 10s linear infinite reverse;
  }



  .category {
    text-align: center;
    padding: 20px;
    padding-top: 170px;
    margin-left: 140px;
  }
  
  .category h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
  }
  #product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    margin-top: 120px;
    margin-left: 30px;
  }
  
  .category-item {
    position: relative;
    background-color: rgb(210, 234, 173);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-item img {
    width: 80%;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .category-item:hover img {
    transform: scale(1.1);
  }
  
  .category-item p {
    margin-top: 10px;
    font-size: 20px;
    color: black;
    font-weight: 600;

  }
  
  .overlay {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .category-item:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
 
  .category-item span{
    color: orangered;
    padding: 0 10px;
    text-decoration: line-through;
  }
  .category-item h1{
    padding: 30px;
    font-size: 20px;
    color: #2980b9;
  }
  .category-dropdown, .search-bar {
    display: flex; /* Displayed by default on larger screens */
}
  
  .add-to-cart, .wishlist{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: background-color 0.3s ease;
  }
  
  @keyframes footer-animation {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(50px, 50px) scale(1.2);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }



  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
    background-color: rgb(17, 188, 17);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.logo img {
    width: 120px;
}

.menu-icon {
    display: none; 
    cursor: pointer;
}

.menu-icon i {
    font-size: 28px;
    color: #fff;
}

.category-dropdown {
    display: flex;
    align-items: center;
}

.addtocart {
    margin-left: 20px;
}


 

@media (max-width: 768px) {
  nav {
      padding: 10px 30px; 
  }

  .category-dropdown,
  .search-bar {
      display: block; 
      display: flex;
      margin-left: 40px;
     
  }

  .menu-icon {
      display: block; 
      font-size: 24px;
  }

  .addtocart {
      margin-left: auto;
      
  }


  .search-bar input {
      width: 100%; 
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
}

.footer-column {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
}

.footer p, 
.footer ul {
    font-size: 14px;
}

.social-icons a {
    font-size: 20px;
}
}

@media (max-width: 480px) {
.footer h3 {
    font-size: 16px;
}
.logo img {
  width: 100px; 
  height: 70px;
}

.footer p,
.footer ul {
    font-size: 12px;
}

.footer-bottom {
    font-size: 12px;
}

.social-icons a {
    font-size: 18px;
}
}


@media (max-width: 420px) {
  .logo img {
    width: 100px; 
    height: 70px;
}

  .heart {
      font-size: 24px; 
  }
  .category-dropdown,
  .search-bar {
      display: none; 
  }
 .show-menu .search-bar
  {
     display: flex;
      flex-wrap: wrap; 
      width: 90%;
      padding: 10px 5px;
      margin-left: 0;
  } 
  .show-menu .category-dropdown{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    padding: 10px 5px;
    margin-left: 0;
  }

  .ba
  .menu-icon {
      font-size: 28px;
      display: block;
  }
  .banner-row {
    margin-top: 90px;
}
.banner-slide img {
    width: 100%;
    height: 220px;
  
}


.products-grid {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: 15px;
 margin: 10px auto;
}

.product-card {
  width: 100%;
   
}


.dots{
  width: 20px;
  height: 5px;
  background-color: gray;
  display: flex;
  cursor: pointer; 
}
.dots-active{
  background-color: black;

}
.ban-left {
  left: 10px;
  font-size: 30px;
 
}

.ban-right {
  right: 10px;
  font-size: 30px;

}
#Search{
  position: absolute;
 right: 10px;
 bottom: 20px;
}

.footer .container {
  flex-direction: column;
  align-items: center;
}

.footer-column {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
}

.footer p, 
.footer ul {
  font-size: 14px;
}

.social-icons a {
  font-size: 20px;
}

.footer h3 {
  font-size: 16px;
}

.footer p,
.footer ul {
  font-size: 12px;
}

.footer-bottom {
  font-size: 12px;
}

.social-icons a {
  font-size: 18px;
}
}


@media (max-width: 375px) {
  .logo img {
    width: 100px; 
    height: 70px;
}

  .heart {
      font-size: 24px; 
  }
  .category-dropdown,
  .search-bar {
      display: none; 
  }
 .show-menu .search-bar
  {
     display: flex;
      flex-wrap: wrap; 
      width: 90%;
      padding: 10px 5px;
      margin-left: 0;
  } 
  .show-menu .category-dropdown{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    padding: 10px 5px;
    margin-left: 0;
  }

  .ba
  .menu-icon {
      font-size: 28px;
      display: block;
  }
  .banner-row {
    margin-top: 90px;
}
.banner-slide img {
    width: 100%;
    height: 220px;
  }
  .ban-left{
    font-size: 15px;
  }

  .dots{
    width: 20px;
    height: 5px;
    background-color: gray;
    display: flex;
    cursor: pointer; 
  }
  .dots-active{
    background-color: black;
  
  }

.products-grid {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: 15px;
 margin: 10px auto;
}

.product-card {
  width: 100%;
  height: 420px;
   
}

.ban-left {
  left: 10px;
  font-size: 30px;
 
}

.ban-right {
  right: 10px;
  font-size: 30px;

}

#Search{
  position: absolute;
 right: 10px;
 bottom: 20px;
}
}

